<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Example of a website using just HTML and CSS</title>
    <!--CSS-->
    <link rel="stylesheet" href="assets/css/theme.css" />
  </head>
  <body>
    <section class="layout">
      <header class="top">
        <div class="logo">
          <h1>MyPage</h1>
        </div>
        <label for="myButton" class="label-button">Menu</label>
        <input type="checkbox" id="myButton" />
        <nav id="menu" class="style-menu">
          <ul class="links">
            <li><a href="#">About</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </header>
      <!--/top-->
      <main class="content">
        <section class="carousel">
          <div class="carousel-container">
            <div class="item">
              <h2>Item 1</h2>
            </div>
            <div class="item">
              <h2>Item 2</h2>
            </div>
            <div class="item">
              <h2>Item 3</h2>
            </div>
          </div>
        </section>
        <!--/Carousel-->
        <section class="about-me">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2>About-me</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum,
                  possimus iusto distinctio, molestiae tempore porro dolore
                  reiciendis id, ipsum rem animi laudantium consequuntur
                  corrupti est eligendi impedit vel sapiente quas.
                </p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum,
                  possimus iusto distinctio, molestiae tempore porro dolore
                  reiciendis id, ipsum rem animi laudantium consequuntur
                  corrupti est eligendi impedit vel sapiente quas.
                </p>
              </div>
              <div class="col-6">
                <img
                  src="https://png.pngtree.com/thumb_back/fw800/background/20230605/pngtree-lake-water-reflections-in-mountains-landscape-nature-background-wallpaper-image_2976454.jpg"
                  alt="mountain-image"
                />
              </div>
            </div>
          </div>
        </section>
        <!--/about-me-->
        <section class="galerry">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2>Gallery</h2>
              </div>
              <div class="col-12">
                <figure>
                  <label for="zoomImage1">Clique para ampliar e diminuir</label>
                  <input type="checkbox" id="zoomImage1" />
                  <img
                    src="https://png.pngtree.com/thumb_back/fw800/background/20230605/pngtree-lake-water-reflections-in-mountains-landscape-nature-background-wallpaper-image_2976454.jpg"
                    alt=""
                  />
                </figure>
              </div>
              <div class="col-12">
                <figure>
                  <label for="zoomImage2">Clique para ampliar e diminuir</label>
                  <input type="checkbox" id="zoomImage2" />
                  <img
                    src="https://png.pngtree.com/thumb_back/fw800/background/20230605/pngtree-lake-water-reflections-in-mountains-landscape-nature-background-wallpaper-image_2976454.jpg"
                    alt=""
                  />
                </figure>
              </div>
              <div class="col-4">
                <figure>
                  <label for="zoomImage3">Clique para ampliar e diminuir</label>
                  <input type="checkbox" id="zoomImage3" />
                  <img
                    src="https://png.pngtree.com/thumb_back/fw800/background/20230605/pngtree-lake-water-reflections-in-mountains-landscape-nature-background-wallpaper-image_2976454.jpg"
                    alt=""
                  />
                </figure>
              </div>
            </div>
          </div>
        </section>
        <!--/Galerry-->
      </main>
    </section>
  </body>
</html>
